<%- include("partial/header") -%>
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="/">WeatherHub</a>
</nav>
<div class="jumbotron-fluid searchTab errordiv">
  <h4 class="display-3">City not found</h4>
</div>

<%- include("partial/footer") -%>
