<%- include("partial/header") -%>
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="/">WeatherRep</a>
</nav>
<div class="homediv container">
  <h1 class="display-4">Get weather Condition</h1><br>
  <h3 class="display-4">by</h3>
  <div class="row">
    <div class="col-lg-5">
      <form class="searchBox" action="/" method="post">
        <div class="form-group">
          <label class="lable lead">Name</label><br>
          <input type="text" class="form-control inp" name="cityName">
        </div>
        <button class="btn btn-primary btn-small" type="submit" name="button">Search</button>
      </form>
    </div>
    <div class="col-lg-2 ">
      <h5 class="display-4 or">Or</h5>
    </div>
    <div class="col-lg-5">
      <form class="searchBox" action="/" method="post">
        <div class="form-group">
          <label class="lable lead">Zip Code</label><br>
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-sm-3">
                <select class="custom-select inp" name="countryCode" required>
                  <option selected disabled value="">Code</option>
                  <% code.sort(); %>
                  <% code.forEach(function(id){%>
                  <option><%= id %></option>
                  <%});%>

                </select>
                <div class="invalid-feedback">
                  Please select a valid cpuntry code.
                </div>
              </div>
              <div class="col-lg-9 col-sm-9">
                <input type="text" class="form-control inp" name="zip">
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-small" type="submit" name="button">Search</button>
      </form>
    </div>

  </div>
</div>

<%- include("partial/footer") -%>
