nav {
  background-color: #0f3057;
}

td{
  font-weight: 3rem;
  font-size: 1.5rem;
}

select.inp{
  width: 5rem;
  margin-bottom: 5%;
}

i{
  padding: 0 1.5%;
}

.table{
  color: #0f3057;
}

.homediv{
  background-image: url("clouds.jpg");
  align-content: center;
  color: #0f3057;
  width: 100%;
  padding: 15% 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.weatherdiv{
  background-image: url("clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #0f3057;
  padding: 15% 7%;
}

.head2{
  display: inline;
}

.feels{
  display: inline;
  font-weight: lighter;
  font-size: 1.7rem;
  padding-left: 1rem;
  text-align: left;
}

.head4{
  font-weight: lighter;
  font-size: 2rem;
  text-align: left;
}

.or{
  padding: 2.5rem 0;
}

.inp{
  display: inline;
  width: 15.6rem;
}

.errordiv{
  height: 31rem;
  text-align: center;
  padding-top: 12.5rem;
}

.lable{
  font-size: 2.5rem
}

.footer {
  background-color: #0f3057;
  padding: 7% 5%;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 16%;
}
