<div class="footer">
  <p>&#169 Kashif Ali 2020</p>
  <a href="https://www.linkedin.com/in/kashif-ansari-287110131/"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/kashofali"><i class="fab fa-github"></i></a>
  <a href="https://www.instagram.com/kashof.in/?hl=en"><i class="fab fa-instagram"></i></a>
  <a href="https://twitter.com/Kashif68963974"><i class="fab fa-twitter"></i></a>
  <a href="mailto:ansarikashif05@gmail.com"><i class="fas fa-envelope"></i></a>
</div>
</body>

</html>
